@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One|Roboto+Condensed);

body {
  background: lightgray;
  font-family: 'Roboto Condensed', sans-serif;
}
.banner {
  font-family: 'Black Ops One', sans-serif;
  text-align: center;
  font-size: 150px;
  color: white;
  background: darkred;
}

.jumbotron {
  background: lightgray;
}

.jumbotron h1 {
  margin-bottom: 20px;
}

.jumbotron ul {
  margin-bottom: 40px;
  list-style: none;
}

.shots {
  float: left;
  font-size: 35px;
}

.score {
  float: right;
  font-size: 35px;
}

.list-group-item {
  font-size: 20px;
}

.col-md-1-2{
  @include make-md-column(1.2)
}

.cell {
  float: left;
  position: relative;
  width: 10%;
  padding-top: 10%;
  background: blue;
  border: 1px solid white
}

.game_board {
  margin-bottom: 100px;
}
